# General
.DS_Store
.AppleDouble
.LSOverride


# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

#idea files
.idea
UniFr-OS-Project-SP18.iml

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
cmake-build-debug
/test/lib/

# MACOSX FILE IGNORE

# General
# Icon must end with two \r
# Thumbnails
# Files that might appear in the root of a volume

/**/CMakeFiles/
/**/Makefile
/**/cmake_install.cmake
/**/CMakeCache.txt
/lib/
*.log
Supprimerait client_1.cmd
Supprimerait client_10.cmd
Supprimerait client_2.cmd
Supprimerait client_3.cmd
Supprimerait client_4.cmd
Supprimerait client_5.cmd
Supprimerait client_6.cmd
Supprimerait client_7.cmd
Supprimerait client_8.cmd
Supprimerait client_9.cmd
Supprimerait run.sh
